
{% extends "base.html" %}

{% block title %}Mani vardhan{% endblock %}
{% block heading %}All Users{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{user.password}}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No users found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}